@charset "UTF-8";
/*
大多数情况下，一般在文件的最外层（不在嵌套规则内）使用 @import，
其实，也可以将 @import 嵌套进 CSS 样式或者 @media 中，
与平时的用法效果相同，只是这样导入的样式只能出现在嵌套的层中。*/
@import "border-radius","media","extend";
.borderRadius{
  width: 100px;
  height: 100px;
  background-color: red;
  //border-radius: 10px 5px 3px;
  @include my-border-radius(10px,5px,3px,1px);
}
