@charset "UTF-8";
//通过选择器继承继承样式
.error {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  background-color: #fdd;
}
.error a{
  color: #fff;
  font-weight: 100;
}
h1.error{
  font-size: 1.2rem;
}
.seriousError {
  @extend .error;
  border-width: 3px;
}
/*.seriousError不仅会继承.error自身的所有样式，
任何跟.error有关的组合选择器样式
也会被.seriousError以组合选择器的形式继承*/

/*在使用继承的时候，一些注意的事项;
https://www.sass.hk/guide/
6-2 6-3  6-4*/

